* {
    box-sizing: border-box;
}

/* Dark theme */
:root {
    --text-color: #fff;
    --bg-color: #333;
}
@media (prefers-color-scheme: Dark) {
    html {
        background-blend-mode: multiply;
    }
}

/* Light Theme */
@media (prefers-color-scheme: light) {
    :root {
        --text-color: #333;
        --bg-color: #f7f7f7;
    }
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    color:var(--text-color);
    background-color:var(--bg-color);
    background-image: url('media/stills/trans_flag_wikipedia.png');
    background-size: contain;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    text-align: center;
}

/* Better placement of parrot gifs on small screen widths */
@media (min-width: 34rem) {
h1 {
    display: inline;
}
}

#footer {
    justify-self:flex-end;
}

#footer a {
    color: #888;
}

.clickable-flag {
    cursor:pointer;
    width:100%;
    height:100%;
}

.clickable-flag:hover {
    padding: 10px 10px 10px 10px;
    background-color:var(--text-color);
}
